@* @model IEnumerable<LancheMac_SSMS.Models.Lanche> *@
@model LancheListViewModel

@{
    ViewData["Title"] = "Lista de lanches";
}

<div class="container my-5">



    <h1 class="mt-5 border-bottom display-3">@ViewData["Titulo"] - @TempData["Nome"]</h1>
    <p class="mb-5">
        @ViewData["Data"]
        <br />
        @ViewBag.Total : @ViewBag.TotalLanches
    </p>

    <div class="row">

        @foreach (var lanche in Model.Lanches) {

        <partial name="_LanchesResumo" for="@lanche" />

        }

    </div>

</div>