@model IEnumerable<LancheMac_SSMS.Models.Lanche>

@{
    ViewData["Title"] = "Lista de lanches";
}

<div class="container my-5">



    <h1 class="mt-5 border-bottom display-3">@ViewData["Titulo"] - @TempData["Nome"]</h1>
    <p class="mb-5">
        @ViewData["Data"]
        <br />
        @ViewBag.Total : @ViewBag.TotalLanches
    </p>

    <div class="row">

        @foreach (var lanche in Model) {

            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                <div class="m-3 text-center">
                 
                    <figure>
                        <img src="@lanche.ImagemUrl" alt="@lanche.Nome" class="w-100" />
                    </figure>
                    <h4>@lanche.Nome</h4>
                    <p>
                        @lanche.DescricaoCurta
                    </p>
                    <h5>
                        Preço: @lanche.Preco.ToString("c")
                    </h5>
                </div>
            </div>

        }

    </div>

</div>